<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/CulminatingTGJ2O/styles/w3.css">
    <link rel="stylesheet" href="/CulminatingTGJ2O/styles/main.css">
    <script src="/CulminatingTGJ2O/scripts/jquery.min.js"></script>
</head>

<body>
    <div id="title" class="w3-container w3-teal" onclick='window.open("/CulminatingTGJ2O/", "_self");' onmouseenter='$("#title").addClass("hand-hover")' onmouseleave='$("#title").removeClass("hand-hover")'>
        <h1>TGJ2O Digital Portfolio</h1>
    </div>
</body>
</html>
