.imageContainer {
    width: 200px;
    height: 200px;
    background-image: url("https://ootpog.by3302.livefilestore.com/y4m-r0nWNODsNMik14KEO7np-rfD8KxqMj9t7p9jDVqf2gM2PA1lqfk6--gk9-MZvxa9ASTEMbM4AHouwkG0q_fFATeInj35fDtGEtKHX31QO-7YGmGABfjOKtPUQ4HRSAJUL10USAnwjvJZqDQLAfyMSZaQSrqku7pmAo_mUHISWpX-mLvhQ5pVxF6M9pEUJ44FckMBM2Vp5TEkA1fmD0K3g?width=2500&height=810&cropmode=none");
    background-size: 100% auto;
}

h1 {
    color: white;
    letter-spacing: 3px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}
