.imageContainer {
    width: 200px;
    height: 200px;
    background-image: url("../includes/headerImage.jpg");
    background-size: 100% auto;
}

h1 {
    color: white;
    letter-spacing: 3px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}
