<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../styles/w3.css">
    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../../scripts/w3.js"></script>
</head>

<body>
    <div w3-include-html="../../views/header.html"></div>
    <script>
        w3.includeHTML();
    </script>

    <div id="navBar" class="fixed-nav-bar">
        <div class="w3-bar w3-dark-grey w3-card-2">

            <button id="home" class="w3-bar-item w3-button w3-border-right" onclick='window.open("../../", "_self");'><i class="fa fa-home"></i></button>
            <button id="photoshop" class="w3-bar-item w3-button w3-border-right" onclick='window.open("../../pages/photoshop/", "_self")'>Photoshop</button>
            <button id="photography" class="w3-bar-item w3-button w3-border-right" onclick='window.open("../../pages/photography/", "_self")'>Basic Photography</button>
            <button id="indesign" class="w3-bar-item w3-button w3-border-right" onclick='window.open("../../pages/indesign/", "_self")'>InDesign</button>
            <button id="video" class="w3-bar-item w3-button w3-border-right" onclick='window.open("../../pages/video/", "_self")'>Video Editing</button>

            <div style="float:right">
                <button class="w3-bar-item w3-button w3-border-left w3-green">Michael Pu - TGJ2O</button>
            </div>
        </div>
    </body>
</html>
